body{
	background color: #fafafa;
}
.home-hero{
/*	min-height: 350px;*/
}
.home-product{
	min-height: 350px;
}
.home-service{
	min-height: 350px;
}

.product-card{
	width: 100%;
	min-height: 250px;
}

.card-image{
	width: 100%; 
	height: 180px; 
	overflow-y: hidden;
}

.card-image img{
	object-fit: cover;
}